html{
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F8F9FB;
}
a {
    text-decoration: none;
}
input::-webkit-input-placeholder{
    color: #C2CCD0;
    font-size: 16px;
    transform: translate(0, 2px);
}
:focus{
    outline:none;
}
#app{
    width: 100%;
    margin: 0;
    padding: 0;
}